.form {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    flex-direction: column;
}

.login-fields {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-bottom: 400px;
}

.login-input {
    padding: 10px;
}

body {
    color: white;
    background-color: rgb(28, 28, 33);
    /* color: black;
    background-color: white */
}

.title{
    z-index: 101;
}